@model PROYECTO_ED1.Models.Pacientes

@{
    ViewData["Title"] = "Buscador";
}

<div class="form-inline">
    <div class="container-fluid h-100">
        <div class="row w-100 align-items-center">
            <div class="col text-center">
                <div class="titulo">
                    <br /><br /><br />
                    <h3 style="text-align:center;">Buscar paciente</h3>
                    <hr style="width: 5%; height: 5px; background-color: #BCD8D9;">
                </div>
                <form asp-action="Busqueda_Paciente" method="post">
                    <input name="Busqueda" type="search" class="form-control me-2 mx-auto d-block" placeholder="Ingrese Nombre o DPI" />
                    <br />
                    <button type="submit" class="btn btn-outline-success">
                        Buscar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid h-100">
    <div class="row w-100 align-items-center">
        <div class="col text-center">
            <div style="text-align:justify;">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DPI)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DPI)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Edad)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Edad)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FDU)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FDU)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FDP)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FDP)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                </dl>
            </div>

            <div style="text-align:right; margin-right:50px;">
                @Html.ActionLink("Editar", "Edit_Paciente", Model)  | <a asp-action="Index_Paciente" style="color: #246569;">Historial de pacientes</a>
            </div>
        </div>
    </div>
</div>

@if (null != TempData["Bus"])
{
    <script type="text/javascript">
        alert('@TempData["Bus"]');
    </script>
}
