@model IEnumerable<PROYECTO_ED1.Models.Pacientes>

@{
    ViewData["Title"] = "Historial";
}

<div class="titulo">
    <br /><br /><br />
    <h3 style="text-align:center;">Historial de pacientes</h3>
    <hr style="width: 5%; text-align: center; height: 5px; background-color: #BCD8D9;">
</div>


<p style="text-align:center;color:dimgrey;">
    <a asp-action="Create_Paciente">Nuevo paciente</a>
</p>

<div class="container-fluid">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.DPI)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.FDU)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.FDP)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.DPI)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.FDU)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.FDP)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td style="text-align: center;">
                        @Html.ActionLink("Editar", "Edit_Paciente", item) | @Html.ActionLink("Detalles", "Details_Paciente", item)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>