@model IEnumerable<PROYECTO_ED1.Models.Pacientes>

@{
    ViewData["Title"] = "Historial";
}

<div class="titulo">
    <br /><br /><br />
    <h3 style="text-align:center;">Historial de pacientes</h3>
    <hr style="width: 5%; text-align: center; height: 5px; background-color: #BCD8D9;">
</div>

<h3 class=" text-start display-6"> Filtros</h3>
<div class="row">
    <div class="col-md-4">
        <div class="col-md-3 mx-0 px-0">
            <a asp-action="Filtro2" class="btn btn-outline-info">Cognitiva o Conductual</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-3 mx-0 px-0">
            <a asp-action="Filtro4" class="btn btn-outline-info">Logoterapia o Psicodinámica</a>
        </div>
    </div>
</div>

<p style="text-align:center;color:dimgrey;">
    <a asp-action="Create_Paciente">Nuevo paciente</a>
</p>

<div class="container-fluid">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.DPI)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.FDU)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.FDP)
                </th>
                <th style="color: aliceblue; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.DPI)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.FDU)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.FDP)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td style="text-align: center;">
                        @Html.ActionLink("Editar", "Edit_Paciente", item) | @Html.ActionLink("Detalles", "Details_Paciente", item)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>